.achievments-pres {
    width: 50%;
    height: 80vh;
    text-align: justify;
    padding-right: 10px;
}

.achievments-presentation {
    width: 80%;
    margin: auto;
    height: 80vh;
}

.achievments-name {
    font-weight: bold;
    margin-bottom: 0;
    color: #FFAD12 ;
    font-size: 24px;
}

.achievments-description {
    margin-top: 0;
}

.grid {
    height: 70vh;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-areas: 
        "a a d d"
        "a a d d"
        "c e b b"
        "f g b b";
}

.grid1 {
    grid-area: a;
}

.grid2 {
    grid-area: b;
}

.grid3 {
    grid-area: c;
}

.grid4 {
    grid-area: d;
}

.grid5 {
    grid-area: e;
}

.grid6 {
    grid-area: f;
}

.grid7 {
    grid-area: g;
}

.grid1 img, .grid2 img, .grid3 img, .grid4 img, .grid5 img, .grid6 img, .grid7 img {
    border-radius: 10px;
    border: 1px #FFAD12 solid;
}

.img-achievments1, .img-achievments2, .img-achievments3, .img-achievments4, .img-achievments5, .img-achievments6, .img-achievments7 {
    height: 100%;
}

