.experiences-pres {
    width: 80%;
    margin: auto;
    text-align: center;
    height: 80vh;
}

.exp-name {
    color: #FFAD12 ;
    font-size: 24px;
    font-weight: bold;
}

.exp-date {
    color: grey;
    font-style: italic;
    font-size: 12px;
}

.exp-list ul:not(:last-child){
    margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
    .experiences-pres {
        height: auto;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}