.footer {
    height: 10vh;
    background-color: black;    
}

.nav-list-footer li {
    margin: auto;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.nav-list-footer {
    align-items: center;
}