.footer {
    height: 10vh;
    box-shadow: inset 0px 3px 3px rgb(247 171 48 / 30%);
    background-color: white;
}

.footer-contacts {
    width: 100%;
}

.footer-pres {
    width: 80%;
    margin: auto;
}

.footer-left, .footer-right {
    width: 100%;
}

.footer-nav-left, .footer-nav-righté {
    width: 100%;
}

.adress p {
    margin: 0;
}

.margin-contacts {
    width: 50px;
}

.phone {
    margin: 0;
}