.galery-pres {
    height: 80vh;
    width: 80%;
    margin: auto;
}

.galery-grid {
    justify-content: center;
    height: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, 150px);
    grid-template-areas: 
        "grid1 grid1 grid1 grid2 grid3 grid4 grid4 grid5"
        "grid1 grid1 grid1 grid6 grid7 grid4 grid4 grid8"
        "grid1 grid1 grid1 grid9 grid9 grid10 grid11 grid11"
        "grid12 grid13 grid14 grid9 grid9 grid15 grid11 grid11";
}

.galery-grid1 {
    grid-area: grid1;
}

.galery-grid2 {
    grid-area: grid2;
}

.galery-grid3 {
    grid-area: grid3;
}

.galery-grid4 {
    grid-area: grid4;
}

.galery-grid5 {
    grid-area: grid5;
}

.galery-grid6 {
    grid-area: grid6;
}

.galery-grid7 {
    grid-area: grid7;
}

.galery-grid8 {
    grid-area: grid8;
}

.galery-grid9 {
    grid-area: grid9;
}

.galery-grid10 {
    grid-area: grid10;
}

.galery-grid11 {
    grid-area: grid11;
}

.galery-grid12 {
    grid-area: grid12;
}

.galery-grid13 {
    grid-area: grid13;
}

.galery-grid14 {
    grid-area: grid14;
}

.galery-grid15 {
    grid-area: grid15;
}

.galery-grid1 img, .galery-grid2 img, .galery-grid3 img, .galery-grid4 img, .galery-grid5 img, .galery-grid6 img, .galery-grid7 img, .galery-grid8 img, .galery-grid9 img, .galery-grid10 img, .galery-grid11 img, .galery-grid12 img, .galery-grid13 img, .galery-grid14 img, .galery-grid15 img  {
    border-radius: 10px;
    border: 1px #FFAD12 solid;
}

.img-achievments1, .img-achievments2, .img-achievments3, .img-achievments4, .img-achievments5, .img-achievments6, .img-achievments7, .img-achievments8, .img-achievments9, .img-achievments10, .img-achievments11, .img-achievments12, .img-achievments13, .img-achievments14, .img-achievments15 {
    height: 100%;
}


@media screen and (max-width: 1600px) {

    .galery-grid {
        justify-content: center;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(8, 130px);
        grid-template-areas: 
            "grid1 grid1 grid1 grid2 grid3 grid4 grid4 grid5"
            "grid1 grid1 grid1 grid6 grid7 grid4 grid4 grid8"
            "grid1 grid1 grid1 grid9 grid9 grid10 grid11 grid11"
            "grid12 grid13 grid14 grid9 grid9 grid15 grid11 grid11";
    }


}

@media screen and (max-width: 1400px) {

    .galery-pres {
        width: 90%;
    }

    .galery-grid {
        justify-content: center;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(8, 130px);
        grid-template-areas: 
            "grid1 grid1 grid1 grid2 grid3 grid4 grid4 grid5"
            "grid1 grid1 grid1 grid6 grid7 grid4 grid4 grid8"
            "grid1 grid1 grid1 grid9 grid9 grid10 grid11 grid11"
            "grid12 grid13 grid14 grid9 grid9 grid15 grid11 grid11";
    }


}


@media screen and (max-width: 1200px) {

    .galery-pres {
        width: 90%;
    }

    .galery-grid {
        justify-content: center;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(8, 100px);
        grid-template-areas: 
            "grid1 grid1 grid1 grid2 grid3 grid4 grid4 grid5"
            "grid1 grid1 grid1 grid6 grid7 grid4 grid4 grid8"
            "grid1 grid1 grid1 grid9 grid9 grid10 grid11 grid11"
            "grid12 grid13 grid14 grid9 grid9 grid15 grid11 grid11";
    }


}

@media screen and (max-width: 1000px) {

    .galery-pres {
        width: 90%;
        height: auto;
        margin:auto;
        padding: 50px 0 50px 0
    }

    .galery-grid {
        justify-content: center;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 150px);
        grid-template-areas: 
            "grid1 grid1 grid2 grid3"
            "grid1 grid1 grid4 grid5"
            "grid6 grid7 grid10 grid10"
            "grid8 grid9 grid10 grid10"
            "grid11 grid11 grid12 grid13"
            "grid11 grid11 grid14 grid15"
    }


}

@media screen and (max-width: 750px) {

    .galery-pres {
        height: auto;
        width: 95%;
    }

    .galery-grid {
        justify-content: center;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 170px);
        grid-template-areas: 
            "grid1 grid2"
            "grid3 grid3"
            "grid3 grid3"
            "grid4 grid5"
            "grid6 grid6"
            "grid6 grid6"
            "grid7 grid8"
            "grid9 grid10"
            "grid11 grid12"
            "grid13 grid14"
            "grid15 grid15"
            "grid15 grid15"

    }


}