.header {
    height: 10vh;
    box-shadow: inset 0px -3px 3px rgb(247 171 48 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.div-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-logo {
    width: 20%
}

.logo {
    max-width: 130px;
}

.section-home {
    width: 60%;
}

.navigation {
    margin: auto;
}

.nav-list li {
    margin: auto;
    text-transform: uppercase;
    font-size: 20px;
    color: black;

}

.div-nav {
    text-align: center;
    display:flex;
    align-items: center;
    width: 100%;
}

.div-nav ul {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.div-nav ul a {
    color: black;
}

.div-nav ul a:hover {
    color: #FFAD12;
}

.nav-list {
    align-items: center;
}

a.nav-active li{
    color: #FFAD12;
}