.home-presentation {
    width: 80%;
    margin: auto;
    height: 80vh;
}

.presentation {
    width: 50%;
    height: 80vh;
    font-family: 'Open Sans', sans-serif;
    padding-right: 10px;
}

.name {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #FFAD12 ;
    margin-top: 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    font-size: 40px;
}

.age {
    text-transform: initial;
    font-weight: lighter;
    color: black;
    font-size: 25px;
}

.profile {
    width: 50%;
    height: 80vh;
}

.photo-profile {
    height: auto;
    width: 70%;
}

@media screen and (max-width: 1100px) {

    .home-presentation {
        width: 90%;
    }

    .photo-profile {
        width: 80%;
        height: auto;
    }

    .name {
        font-size: 35px;
    }
}

@media screen and (max-width: 1000px) {

    .photo-profile {
        width: 80%;
        height: auto;
    }

    .name {
        font-size: 35px;
    }

    .home-presentation {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {

    .home-presentation {
        height:auto;
        width: 90%;
    }

    .profile {
        height: auto;
    }

    .photo-profile {
        width: 90%;
        height: auto;
    }

    .name {
        font-size: 30px;
    }

    .presentation {
        height: auto;
    }
}

@media screen and (max-width: 750px) {

    .home-presentation {
        display: block;
    }

    .profile {
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .presentation {
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 700px) {

    .home-presentation {
        height: auto;
        display: block;
        width: 90%;
        margin: auto;
    }



    .profile, .presentation {
        width: 100%;
        justify-content: center;
        height: auto;
        margin: 20px 0 20px 0;
    }

    .name {
        font-size: 35px;
        text-align: center;
    }

    .home-presentation {
        text-align: center;
    }


}

@media screen and (max-width: 450px) {
    .name {
        font-size: 25px;
    }

    .age {
        font-size: 18px;
    }
}