.mentions-pres {
    width: 80%;
    margin: auto;
    height: 80vh;
}

.mentions-title {
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 1400px) {
    .mentions-pres {
        text-align: center;
        height: auto;
        margin-bottom: 50px;
    }
}