body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: url("../../../public/img/wallpaper.png") center/cover no-repeat ;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

.img-resp {
    width: 100%;
    height: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.align-center {
    display: flex;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.footer-nav li a{
    color: black;
}

.footer-nav a {
    color: black;
}